:root {
  --font-lg: 1.3rem;
  --bg-container: #f7f7f7;
  --white: #fff;
  --boxShadowColor: rgb(209 213 223 / 50%);
  --qizil: rgb(214, 6, 6);
  --yashil: rgb(3, 146, 39);
  --darkColor: #2d2d2d;
}
.container {
  min-height: calc(100vh - 15rem);
  background: var(--bg-container);
  padding-bottom: 80px;
}
.container h1 {
  color: var(--bg-py);
}
.h1 {
  margin-left: 2%;
}
.container .heartedProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heartedProduct {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 80%;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.625rem 1.875rem var(--boxShadowColor);
}
.actions,
.heartedInfo,
.body {
  margin-top: 0.7rem;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.imageContainer {
  width: 6.25rem;
  height: 6.25rem;
  padding: 0.625rem;
  margin-right: 2.25rem;
  border-radius: 1rem;
  /* background-color: #fff; */
  box-shadow: 0 0.625rem 1.875rem var(--boxShadowColor);
  transition: all 0.3s ease-in-out;
}
.imageContainer img {
  max-width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.heartNav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.title {
  color: var(--darkColor);
  font-size: var(--font-lg);
  text-align: center;
}
.heartedInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.priceContainer {
  display: flex;
  flex-direction: column;
  transition: all 0.23s ease-in-out;
}
.price {
  color: var(--bg-py);
  font-size: var(--font-lg);
}
.stars {
  margin-top: 0.5rem;
  color: var(--bg-gold);
}
.type {
  margin-top: 0.5rem;
  color: var(--bg-py);
  text-align: center;
}

.actions {
  width: 100%;
  margin-left: 1rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.3rem;
  width: 45%;
}
.btns {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}
.delete,
.addToCart,
.viewDetails {
  padding: 0.4rem 1rem;
  border: 1px solid var(--bg-py);
  cursor: pointer;
  background: var(--white);
  border-radius: 0.3rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewDetails span:nth-last-of-type(2),
.addToCart span:nth-last-of-type(2),
.delete span:nth-last-of-type(2) {
  display: flex;
}
.delete {
  background: var(--white);
  color: var(--qizil);
  border: 1px solid var(--qizil);
  transition: all 0.23s ease-in-out;
  font-size: large;
}
.delete:hover {
  background: var(--qizil);
  color: var(--white);
}

.addToCart,
.btnAddToCart,
.viewDetails {
  width: 100%;
  transition: all 0.23s ease-in-out;
}
.viewDetails {
  color: var(--bg-py);
  background-color: var(--white);
  border: 1px solid var(--bg-py);
  font-size: large;
}
.viewDetails:hover {
  color: var(--white);
  background-color: var(--bg-py);
}
.addToCart {
  color: var(--yashil);
  background-color: var(--white);
  border: 1px solid var(--yashil);
  font-size: large;
}
.addToCart:hover {
  color: var(--white);
  background-color: var(--yashil);
}

@media (max-width: 991px) {
  .heartedProduct {
    flex-direction: column;
  }
  .body {
    width: 100%;
  }
  .heartNav {
    justify-content: space-between;
  }
  .actions {
    width: calc(100% - 1rem);
    margin: 0.5rem;
    margin-top: 2rem;
    flex-direction: column;
  }
  .btns {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .btns > * {
    width: 150px;
  }
  .viewDetails span:nth-last-of-type(2),
  .addToCart span:nth-last-of-type(2),
  .delete span:nth-last-of-type(2) {
    padding: 0.5rem;
  }

  .viewDetails span:nth-last-of-type(1),
  .addToCart span:nth-last-of-type(1),
  .delete span:nth-last-of-type(1) {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .btns > * {
    width: 100px;
  }
  .viewDetails span:nth-last-of-type(2),
  .addToCart span:nth-last-of-type(2),
  .delete span:nth-last-of-type(2) {
    padding: 0.4rem;
  }
}
@media screen and (max-width: 600px) {
  .heartNav {
    display: flex;
    flex-wrap: wrap;
  }
  .imageContainer {
    margin-right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: none;
  }
  
  .imageLink img {
    border-radius: 1rem;
    box-shadow: 0 0.625rem 1.875rem var(--boxShadowColor);
  }
  .heartedInfo,
  .body {
    width: 49%;
  }
}
@media (max-width: 500px) {
  .body {
    width: auto;
  }
  .actions {
    flex-direction: column;
  }
  .btns > * {
    width: 100px;
  }
  .viewDetails span:nth-last-of-type(2),
  .addToCart span:nth-last-of-type(2),
  .delete span:nth-last-of-type(2) {
    padding: 0.2rem;
  }
}
@media screen and (max-width: 380px){
  .heartedInfo,
  .body {
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 300px) {
  .btns > * {
    width: 80px;
  }
  .viewDetails span:nth-last-of-type(2),
  .addToCart span:nth-last-of-type(2),
  .delete span:nth-last-of-type(2) {
    padding: 0;
  }
}