.product_wrapper{
    width: 75%;
}
.product_container{
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 1111px) {
    .product_wrapper{
        width: 100%;
    }
}
@media screen and (max-width: 880px) {
    .product_container{
        justify-content: center;
    }
}