.product{
    width: 320px;
    min-height: 420px;
    box-shadow: 0 0 10px #2222;
    margin: 8px;
    transition: .3s;
    padding: 10px;
    position: relative;
}
.product:hover{
    box-shadow: 0 0 20px #3333;
}
.product_body{
    display: flex;
    flex-direction: column;
    height: calc(100% - 250px);
}
.product img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.product_title{
    font-size: var(--font-md);
}
.product_price{
    padding: 6px 0;
    color:  var(--bg-py);
    display: flex;
    align-items: center;
}
.product_stars{
    color: var(--bg-gold);
    flex-grow: 1;
}
.product_btns{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.btn_shopping{
    height: 40px;
    padding: 8px 16px;
    background: var(--bg-py);
    color: #fff;
    border: 1px solid var(--bg-py);
    display: flex;
    align-items: center;
    transition: background .3s;
    margin-right: 12px;
    font-size: 16px;
}
.btn_shopping svg{
    min-width: 22px;
    font-size: 22px;
    margin-right: 4px;
}
.btn_shopping:hover{
    background: #fff;
    color: var(--bg-py);
    cursor: pointer;
}
.heart_con{
    position: absolute;
    top: 10px;
    right: 10px;
}
.heart{
    height: 40px;
    width: 40px;
    border-radius: 50% ;
    background-color: transparent;
    border: none;
    display: grid;
    place-items: center;
    color:  var(--bg-py);
    transition: background .3s;
    cursor: pointer;
}
.heart svg{
    font-size: 26px;
}
.heart:hover{
    border: 1px solid var(--bg-py);
}
.heart.active{
    color: crimson;
}
.view {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:  var(--bg-py);
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.view p{
    font-size: 12px;
}

/* skeleton */
.skeleton_image{
    width: 94%;
    height: 55%;
    margin: auto;
    margin-top: 10px;
    background: linear-gradient(90deg, #ddd,#eee, #ddd);
    background-size: 200%;
    animation: skeleton 1s linear  infinite ;
}
@keyframes skeleton {
    to{
        background-position: 200%;
    }
}
.skeleton_desc,
.skeleton_title{
    height: 26px;
    width: 70%;
    margin: 3% ;
    background: linear-gradient(90deg, #ddd,#eee, #ddd);
    background-size: 200%;
    animation: skeleton 1s linear  infinite ;
}
.skeleton_desc{
    width: 94%;
    margin: 0 auto;
}

.quontity_actions
{
    height: 40px;
    display: flex; 
    align-items: center;
}

.quontity_action_btn
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    background: none;
    border: 1px solid #222;
    user-select: none;
    cursor: pointer;
    font-size: 18px;
}

.quontity_action_btn:disabled
{
    cursor: not-allowed;
    opacity: .7;
    border-color: #2227;
}

.quontity_actions p
{
    font-size: 18px;
    margin: 0 12px;
}

@media screen and (max-width: 1800px) {
    .product{
        width: 250px;
        min-height: 350px;
        height: auto;
    }
    .product_body{
        height: calc(100% - 220px);
    }
    .product img{
        height: 220px;
    }
}
@media screen and (max-width: 600px){
    .product{
        width: calc(50% - 6px);
        margin: 3px;
    }
    .btn_shopping{
        height: 30px;
        padding: 8px ;
        font-size: 12px;
        margin-right: 5px;
    }
    .btn_shopping svg{
        min-width: 18px;
        font-size: 16px;
        margin-right: 2px;
    }
}

@media screen and (max-width: 400px){
    .product_body{
        height: calc(100% - 150px);
    }
    .product img{
        height: 150px;
    }
    .product{
        min-height: 300px;
    }
    .btn_shopping{
        font-size: 10px;
    }
}
@media screen and (max-width: 360px){
    .btn_shopping span{
        display: none;
    }
    .btn_shopping svg{
        margin-right: 0;
    }
}