.cart
{
    width: 100%;
    min-height: 100vh;
    background: #fff;
}

.cart_header
{
    width: 100%;
    padding: 40px 2.5% 0px;
}

.cart_header h1
{
    letter-spacing: 2px;
    word-spacing: 3px;
    font-size: 32px;
    color: var(--bg-light);
    font-weight: 100;
    color: var(--bg-py);
}

.cart_box
{
    width: 100%;
    min-height: 80%;
    background: #fff;
    padding: 40px;
}

.cart_box.active
{
    min-height: 100% !important;
}

.cart_box a
{
    color: #2260fc;
}

@media screen and (max-width: 1000px){
    .cart_box
    {
        padding: 20px;
    }

    .cart_header h1
    {
        font-size: 28px;
    }
}



@media screen and (max-width: 555px){
    .cart_header
    {
        height: 80px;
    }

    .cart_header h1
    {
        font-size: 24px;
    }
}