.cart
{
    width: 100%;
    min-height: 100vh;
    background: #fff;
}

.cart_header
{
    width: 100%;
    height: 100px;
    background: var(--bg-sy);
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.cart_header h1
{
    letter-spacing: 2px;
    word-spacing: 3px;
    color: var(--bg-light);
}

.cart_box
{
    width: 100%;
    min-height: 80%;
    background: #fff;
    padding: 40px;
}

.cart_box.active
{
    min-height: 100% !important;
}

.cart_box a
{
    color: #2260fc;
}

@media screen and (max-width: 1000px){
    .cart_box
    {
        padding: 20px;
    }
}