.cart
{
    width: 100%;
    min-height: 600px;
    background: #fff;
    padding-bottom: 60px;
}


.cart_box
{
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 40px;
}

.cart_box.active
{
    min-height: 100% !important;
}

.cart_box a
{
    color: #2260fc;
}

@media screen and (max-width: 1000px){
    .cart_box
    {
        padding: 20px;
    }

    .cart_header h1
    {
        font-size: 28px;
    }
}



@media screen and (max-width: 555px){
    .cart_header
    {
        height: 80px;
    }

    .cart_header h1
    {
        font-size: 24px;
    }
}