.header{
    width: 100%;
    height: 80px;
    background-color:var(--bg-light);
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.header_collection{
    display: flex;
    margin-left: 60px;
    flex: 1;
}

.header_collection a{
    color:var(--bg-dark);
}

.header_collection li{
    margin: 20px;
    cursor: pointer;
}

.searchbar{
    width: 400px;
    height: 40px;
    border: 1px solid var(--border-color);
    background-color: #fff;
    display: flex;
    align-items: center;
}
.searchbar input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    text-indent: 10px;
}
.searchbar input::placeholder{
    color: var(--border-color);
}

.searchbar svg{
    color: var(--border-color);
    font-size: 20px;
}

.cart_like_box_wrapper{
    display: flex;
    align-items: center;
    margin-left: 17px;
}

.cart_like_box_wrapper svg{
    font-size: 24px;
    margin: 15px;
    cursor: pointer;
}


.cart_item{
    position: relative;
    font-size: 18px;
}
.cart_item span{
    position: absolute;
    font-size: 12px;
    min-width: 18px;
    height: 18px;
    background: crimson;
    border-radius: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -8px;
    right: -15px;
    padding: 3px;
}

.cart_item{
    position: relative;
    font-size: 18px;
}
.cart_item span{
    position: absolute;
    font-size: 12px;
    min-width: 18px;
    height: 18px;
    background: crimson;
    border-radius: 50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 3px;
    right: 3px;
    padding: 3px;
    color: #fff;
}

.cart_item svg{
    color: var(--bg-dark);
}


@media screen and (max-width: 990px) {
    .searchbar{
        display: none;
    }
    .header_collection{
        display: none;
    }
    .cart_like_box_wrapper{
        display: none;
    }
}