.container {
  min-height: 100vh;
  margin: 2rem;
}

.title h1 {
  color: var(--bg-py);
  padding: 0.8rem 0;
  border-bottom: 1px solid #ddd;
}
.label {
  margin: 0 0 0.5rem 0.5rem;
  color: var(--bg-py);
  font-size: var(--font-md);
}
.row {
  margin-top: 2rem;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.typeTextInputs,
.typeSelectInputs {
  display: flex;
}
.typeTextInputs {
  flex-direction: column;
  width: 100%;
}

.typeTextInput,
.typeSelectInput {
  padding: 0 .8rem;
  height: 40px;
  border-radius: 0.7rem;
  border: 1px solid #ddd;
  font-size: var(--font-md);
  color: var(--bg-py);
}
.typeTextInput:focus {
  outline: none;
}
.typeSelectInputs {
  flex-wrap: wrap;
  width: 47%;
  transition: all 0.23s ease-in-out;
}
.typeSelectInput {
  width: 100%;
}
.typeSelectInput:focus {
  outline: none;
}
/* input Type File started */
.inputTypeFile {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  margin-left: 0.5rem;
}
/* Submit Button */
.btn {
  width: 234px;
  padding: 1rem 2rem;
  font-size: var(--font-md);
  border-radius: 3rem;
  background: var(--bg-py);
  color: var(--bg-light);
  border: none;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.23s ease-in-out;
}


.btn:hover {
  box-shadow: 0 0 1rem #72493f9c;
}
.btn:disabled{
  opacity: .6;
  cursor: no-drop;  
  box-shadow: 0 0 0 #000;
}
.btnIcon {
  display: flex;
  justify-content: center;
  margin-right: 0.3rem;
}
@media screen and (max-width: 991px) {
  .typeSelectInputs {
    width: 100%;
  }
  .inputTypeFile {
    flex-direction: column;
    gap: 10px;
    margin-left: 0;
  }
}
@media screen and (max-width: 705px) {
  .btn {
    margin-top: 60%;
  }
}

