.container {
  min-height: 100vh;
  margin: 2rem;
}

.title h1 {
  color: var(--bg-py);
  padding: 0.625rem 0;
}
.row {
  margin-top: 2rem;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
.typeTextInputs,
.typeSelectInputs {
  display: flex;
}
.typeTextInputs {
  flex-direction: column;
  width: 100%;
}

.typeTextInput,
.typeSelectInput {
  padding: 0.8rem 1.3rem;
  border-radius: 0.7rem;
  border: 1px solid var(--border-color);
  font-size: var(--font-md);
  color: var(--bg-py);
}
.typeTextInput:focus {
  outline: none;
}
.typeSelectInputs {
  flex-wrap: wrap;
  width: 47%;
  transition: all 0.23s ease-in-out;
}
.typeSelectInput {
  width: 100%;
}
/* input Type File started */
.inputTypeFile {
  display: flex;
  width: 100%;
  margin-top: 10%;
  margin-left: 0.5rem;
}
