.title{
    color: red;
    transition: all 0.4s ease-in-out;
    font-size: 36px;
    background: rgba(255, 255, 255, 0.925);
}
.title:hover {
    transform: scale(1.1);
}
.App{
    max-width: 1920px;
    margin: auto;
}