@font-face {
  font-family: "ubuntu-regular";
  src: url("./fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("./fonts/Ubuntu/Ubuntu-Bold.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ubuntu-regular";
}
:root{
  --bg-py: #72493F;
  --bg-sy: #2260fc;
  --bg-dark: #2d2d2d;
  --bg-light: #f7f7f7;
  --bg-gold: #FBC100;
  --border-color:#828282;
  --font-lg: 48px;
  --font-md: 18px;
}
@media screen and (max-width:990px) {
  :root{
    --font-lg: 32px;
    --font-md: 16px;
  }
}
@media screen and (max-width:600px) {
  :root{
    --font-lg: 28px;
    --font-md: 14px;
  }
}



li{
  list-style: none;
}
a{
  text-decoration: none;
}