/* Core Start */
.filter {
  width: 25%;
  height: calc(100vh - 100px);
  background: #fff;
  margin-top: 8px;
  box-shadow: 0px 0px 4px 1px #00000021;
  position: sticky;
  top: 80px;
  overflow: auto;
}

.filter::-webkit-scrollbar {
  width: 4px;
}
.filter::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 5px;
}
/* Core End */

/* Filter Navbar Start */
.filterNavbar,
.filterNavbar div {
  display: flex;
  align-items: center;
}
.filterNavbar {
  padding-left: 0.625rem;
  height: 3.125rem;
  background: var(--bg-light);
  box-shadow: 0px 3px 3px #0001;
  color: var(--bg-py);
  position: sticky;
  top: 0;
}
.filterNavbar div span {
  padding: 0 0.312rem;
}
.filterNavbar div {
  height: 2.5rem;
  padding: 0.5rem;
  transition: all 0.24s ease-in-out;
  border-radius: 0.5rem;
}

.filterNavbar svg {
  fill: #fff;
}
/* Filter Navbar End */

/* Filter Body Start */
.filterBody {
  padding: 1.562rem;
}
.filterBodyRow {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 0.625rem;
}
.filterBodyRow p {
  color: var(--bg-py);
  font-size: var(--font-md);
  font-weight: 600;
  text-transform: capitalize;
}
.filterBodyButtonsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.filterBodyButtonsRowBtn {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border: 1px solid var(--bg-py);
  font-size: 1rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: var(--bg-py);
  background: var(--bg-light);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.filterBodyButtonsRowBtn:hover {
  color: var(--bg-light);
  background: rgba(115, 75, 64, 0.88);
}
.active {
  color: var(--bg-light);
  background: var(--bg-py);
}
.filterInput {
  width: 60%;
  height: 2.5rem;
  border: 1px solid var(--bg-py);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: var(--bg-py);
}
.filterInput::placeholder {
  color: var(--bg-py);
}
.filterInput:focus {
  outline: none;
}
.filter_bottom {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(transparent, #fff 70%);
}
.filterShadow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0006;
  z-index: 10;
}
/* Filter Body End */

@media screen and (max-width: 1111px) {
  .filter {
    width: 300px;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    overflow: auto;
    z-index: 10;
    left: -300px;
    transition: 0.35s ease-in;
  }
  .show {
    left: 0;
  }
}

@media screen and (max-width: 700px) {
  .filter {
    top: -8px;
    width: 70%;
    left: -70%;
    height: calc(100vh - 100px);
  }
  .show {
    left: 0;
  }
}
